
<body class="contP pb-5 pl-3 pr-3 pt-5">

    <br>
  <div class="container  col-sm-12 " >
      <div class="card">
          <div class="card-body">
              <span class="h3">
                  Lista de Eventos
              </span>
  
              <button class="btn-dark btn-lg  float-right" routerLink="/home/agregarEventos">Nuevo Evento</button>

              <div class=" mt-5">
                <span><h5>Filtrar eventos</h5></span>
                <div class="row col-sm-12 ml-0">
                  <input class = "form-control col-sm-4" type="text" placeholder="Filtrar por Ciudad" name="city" [(ngModel)] = "newFiltrer.city">
                  <input class = "form-control col-sm-4" type="text" placeholder="Filtrar por Mes" name="mon" [(ngModel)]= "newFiltrer.mon"> 
                  <input class = "form-control col-sm-3" type="text" placeholder="Filtrar por Nombre" name="nameF" [(ngModel)]="newFiltrer.nameF">
                  <button (click)="getFiltrer()" class="col-sm-1 btn btn-info float-right" style="height: 40px;">Filtrar</button>
                </div>
              </div>

              <div class="row mt-5" *ngFor = "let item of evet$">
                <div class="col-sm-12">
                    <div class="card border-danger mb-3">
                      <div class="card-body">
                        <h5 class="card-title">{{item.nameEvent}}                              
                            <span *ngIf="item.finalized === 'true'" style="color: red;">(FINALIZADO)</span>
                            <span *ngIf="(item.finalized !== 'true') && (dateHour >= item.startTime) && (dateHour <= item.endTime)" style="color: orange;">(EN EJECUCIÓN)</span>
                            <span *ngIf="(item.finalized !== 'true') && (dateHour < item.startTime)" style="color: #117a8b;">(PRÓXIMO)</span>
                           
                            <i *ngIf="(item.finalized !== 'true') && (dateHour < item.startTime)" (click) = "onGoToEdit(item)" type = "button" class="fas fa-edit fa-lg text-info mr-4 float-right fa-2x"></i>
                            <i *ngIf= "(dateHour < item.startTime) || (dateHour > item.endTime) || (item.finalized === 'true')" (click) = "deleteEvent(item, item.id)" type = "button" class="far fa-trash-alt fa-lg text-danger mr-4 float-right fa-2x"></i>
                        </h5>
                        <p class="card-text"><i class="far fa-calendar-alt fa-2x mr-4"></i>{{item.startTime}}</p>
                        <p class="card-text"><i class="fas fa-map-marker-alt fa-2x mr-4"></i>{{item.city}}</p>
                        <p class="card-text"><i class="fas fa-users fa-2x mr-4"></i>{{item.patrocinator}}</p>
                        <button *ngIf="(item.finalized !== 'true') && (dateHour >= item.startTime) && (dateHour <= item.endTime)" routerLink="/home/seguimiento"  type = "button"  class="btn btn-info" style="background-color: orange; border: solid 1px orange;">Seguimiento</button>
                        <button *ngIf="(item.finalized !== 'true') && (dateHour < item.startTime)" (click) = "onGoToSee(item)"  type = "button"  class="btn btn-info">Ver Detalles</button>
                  
                      </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  
  </body>
  
