
<body>
       
 <div class="container col-sm-12 " >
    <br>

    <div class="col-sm-4 float-left">
        <div>


        <!-- categoria 1 -->
            <div class="form-group">
                
               <!--  <h1 ><font color="white">Categorias del evento</font></h1>  -->
                <div class="row" >
                    <div class="col-sm-12">
                        <div class="card border-info mb-3" style="max-width: 50rem; display: flex;">
                            <div class="card-header">
                                <h5 class="card-title">Nombre De La Categoria
                                    <i class="fas fa-edit fa-lg text-info mr-4 float-right fa-2x" ></i>
                                    <i class="far fa-trash-alt fa-lg text-danger mr-4 float-right fa-2x" ></i>
                                </h5>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Rango de Edades: </h5>
                                <h5 class="card-text">Km a recorrer: </h5>
                                <h5 class="card-text">Premios:</h5>
                                <a routerLink="" class="btn btn-primary">Detalles</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        
        <!-- categoria 2 -->
            <div class="form-group">
                <!-- <span>Categorias del evento</span> -->
                <div class="row" >
                    <div class="col-sm-12">
                        <div class="card border-info mb-3" style="max-width: 50rem; display: flex;">
                            <div class="card-header">
                                <h5 class="card-title">Nombre De La Categoria 
                                    <i class="fas fa-edit fa-lg text-info mr-4 float-right fa-2x" ></i>
                                    <i class="far fa-trash-alt fa-lg text-danger mr-4 float-right fa-2x" ></i>
                                    
                                </h5>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Rango de Edades: </h5>
                                <h5 class="card-text">Km a recorrer:  Km</h5>
                                <h5 class="card-text">Premios:</h5>
                                <a routerLink="" class="btn btn-primary">Detalles</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- tabla de participantes -->

    <div class="col-sm-8 float-right">

        <div class="card">
            <div class="card-body">
                <span class="h3">
                    Participantes
                </span>
    
           
                <table class="table table-striped mt-5">
                    <thead class="thead-dark">
                        <tr>
                            <th >ID</th>
                            <th >Nombre</th>
                            <th ></th>
                            
                        </tr>
                    </thead>
                        
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Juan Perez</td>
                            <td><i class="far fa-trash-alt fa-lg text-danger"></i></td>
                        </tr>
                    </tbody>    
                     
                    <tbody>
                        <tr>
                            <td>2</td>
                            <td>Maria Juarez</td>
                            <td><i class="far fa-trash-alt fa-lg text-danger"></i></td>
                        </tr>
                    </tbody>
                </table>       
                        
                  
                 
    
            </div>
        </div>
    </div>
    
</div>
 
</body>