<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>categoryagregarEventos Template</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./agregarEventos.component.css">


</head>

<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container ">
            <div class="card category-card">
                <div class="row no-gutters">
                    <div class="col-md-12 fade-in-down">
                        <div class="card-body">
                            <p class="category-card-description">Agregar Evento</p>
                            <form>

                                <div class="form-group">
                                    <span>Nombre del Evento</span>
                                    <input class="form-control" placeholder="Nombre del evento" type="text">
                                </div>

                                <div class="form-group">
                                    <span>Fecha del evento</span>
                                    <div>
                                        <input style="height: 10px;" class="form-control" type="date">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span>Ciudad donde se llevara acabo</span>
                                    <select class="form-control">
                                        <option  value = "">-- Seleccione una Ciudad --</option>
                                        <option *ngFor = "let ciudades of ciudades"
                                                 value = "ciudades">{{ciudades}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <span>Patrocinadores</span>
                                    <mat-form-field class="form-multi" appearance="fill">
                                        <mat-select class="select-mult" formcontrol="toppings" multiple placeholder="-- seleccionar patrocinadores --">
                                            <mat-option *ngFor="let patrocinadores of patrocinadoresList" [value]="patrocinadores">{{patrocinadores}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div *ngIf = "newCategory.nameCategory !== ''">
                                    <div class = "form-group"
                                         *ngFor = "let category of categories">
                                        <span>Categoria Agregada</span>
                                        <input class = "form-control"
                                               value = {{category.nameCategory}>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <a class="btn-categoria nav-link" href="#footer" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" placeholder="Establezca una categoria">
                                        Categoria
                                    </a>
                                </div>

                                <button class="btn btn-block category-btn mb-4" value="Crear Evento">Crear Evento</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
</body>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Establezca una Categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form class="form-class"
                      >

                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre de la categoria"
                               name="nameCategory"
                               [(ngModel)]="newCategory.nameCategory">
                    </div>

                    <div class="form-group">
                        <label for="edad">Edad para competir</label>
                        <div class="form-control">
                            <select class="edad" type="number" style="background-color: transparent;">
                              <option class = "" value = "">Edad Min</option>
                              <option class = "" *ngFor = "let edad of edad" value= "edad">{{edad}}</option>
                            </select>
                            <select class="edad" type="number" style="background-color: transparent;">
                              <option class = "" value = "">Edad Max</option>
                              <option class = "" *ngFor = "let edad of edad" value = "edad">{{edad}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="premio">Premios</label>
                        <select class="form-control">
                            <option value="">-- Seleccione los Premios --</option>
                            <option *ngFor = "let premios of premios" 
                                     value = "premios">{{premios}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="ruta">Ruta</label>
                        <div id="mapa-mapbox" class="mapaRuta">
                        </div>
                        <button id="showRuta" type="button" class="btn btn-sm btn-outline-secondary" (click)="crearRuta()">Crear Ruta</button>
                        <button id="deleteRuta" type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteRuta()">Eliminar Ruta</button>
                        <button id="calculateKM" type="button" class="btn btn-sm btn-outline-secondary" (click)="calculateDistance()">Calcular Distancia</button>
                    </div>

                    <label for="distancia">Distancia</label>
                    <input id="distanceT" class="form-control" type="button" value={{distance[0]}}>

                    <span class="space"></span>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary  text-center ">Guardar</button>

                </form>
            </div>
        </div>
    </div>
</div>