<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>categoryagregarEventos Template</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./agregarEventos.component.css">


</head>

<div class="contP">
<div class="contS pt-5 pl-3 pb-5">
    
    <div class="container row col-sm-12" >
        <br>
        <div class="container col-sm-4 float-left">
            <div class="card category-card">
                <div class="row no-gutters">
                    <div class="col-md-12 fade-in-down">
                        <div class="card-body">
                            <h2 class="category-card-description">Evento</h2>
                            <form (ngSubmit)="addEvent()">

                                <div class="form-group mt-2">
                                    <br>
                                    <h5>Nombre del Evento</h5>
                                    <input class="form-control" placeholder="Nombre del evento" type="text" name="nameEvent" [(ngModel)]="newEvent.nameEvent">

                                </div>

                                <div class="form-group  mt-3">
                                    <br>
                                    <h5>Inicio del evento</h5>
                                    <div>
                                        <input style="height: 10px;" class="form-control" type="datetime-local" name="startTime" [(ngModel)]="newEvent.startTime">
                                    </div>
                                </div>

                                <div class="form-group mt-3">
                                    <br>
                                    <h5>Fin del evento</h5>
                                    <div>
                                        <input style="height: 10px;" class="form-control" type="datetime-local" name="endTime" [(ngModel)]="newEvent.endTime">
                                    </div>
                                </div>


                                <div class="form-group  mt-3">
                                    <br>
                                    <h5>Fecha Limitie Para Inscripcion</h5>
                                    <div>
                                        <input style="height: 10px;" class="form-control" type="datetime-local" name="startTime" [(ngModel)]="newEvent.inscriptionTime">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <br>
                                    <h5 for="city">Ciudad donde se llevará a cabo</h5>
                                    <select class="form-control" type="number" name="city" [(ngModel)]="newEvent.city">
                                        <option  class = "" value = "">-- Seleccione una Ciudad --</option>
                                        <option class = "" *ngFor = "let ciudades of ciudades"
                                                 >{{ciudades}}
                                        </option>
                                    </select>

                                </div>

                                <div class="form-group">
                                    <br>
                                    <h5 for="patrocinadores">Patrocinadores</h5>
                                    <mat-form-field class="form-multi" appearance="fill">
                                        <mat-select class="select-mult" type="number" formcontrol="toppings" multiple placeholder="-- seleccionar patrocinadores --" name="patro" [(ngModel)]="newEvent.patrocinator">
                                            <mat-option class="" *ngFor="let patrocinadores of patrocinadoresList" [value]="patrocinadores">{{patrocinadores}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="form-group">
                                    <br>
                                    <h5>Descripcion del Evento</h5>
                                    <input class="form-control" placeholder="Descripcion del evento" type="text" name="descripEvent" [(ngModel)]="newEvent.descripEvent">
                                </div>

                                <button class="btn btn-block category-btn mb-2" type="submit" value="Crear Evento">Guardar Evento</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    
        <div  class="secun col-sm-8 float-right">

                <div class="card categoria-card">
                    <div class="cateG card-body">
                     <h3 class="text-center">Categorias</h3>
                                               

                        <form class=" form-class" (ngSubmit)="addCategories()">

                                <div class="form-group">
                                    <h4 for="nombre">Nombre</h4>
                                    <input type="text" class="form-control" placeholder="Nombre de la categoria" name="nameCategory" [(ngModel)]="newCategory.nameCategory">
                                </div>
                                 <br>
                                <div class="form-group">
                                    <h4 for="edad">Edad para competir</h4>
                                    <div class="form-control">
                                        <select class="edad" type="number" name="ageMin" [(ngModel)]="newCategory.ageMin" style="background-color: transparent; ">
                                          <option class = "" value = "0">Edad Min</option>
                                          <option class = "" *ngFor = "let edadm of edad">{{edadm}}</option>
                                        </select>
                                        <select class="edad" type="number" name="ageMax" [(ngModel)]="newCategory.ageMax" style="background-color: transparent;">
                                          <option class = "" value = "0" selected>Edad Max</option>
                                          <option class = "" *ngFor = "let edadM of edad">{{edadM}}</option>
                                        </select>
                                    </div>
                                </div>
            
                                <br>       
                                <br>   
                            <div class="form-group">
                                <h4 for="premio">Premios</h4>
                                <select class="form-control" type="number" name="prize" [(ngModel)]="newCategory.prize">
                                    <option class = "" value="">-- Seleccione los Premios --</option>
                                    <option class = "" *ngFor = "let premios of premios" >{{premios}}
                                    </option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <h4 for="ruta">Ruta: </h4>

                                <div 
                                    id="mapa-mapbox" class="mapaRuta">
                                </div>
                               
                            <div class="row botones">
                                <button id="showRuta" type="button" class="btn btn-sm btn-outline-secondary float-left" (click)="crearRuta()">Crear Ruta</button>
                                <button id="deleteRuta" type="button" class="btn btn-sm btn-outline-secondary " (click)="deleteRuta()">Eliminar Ruta</button>
                                <button id="calculateKM" type="button" class="btn btn-sm btn-outline-secondary float-right" (click)="calculateDistance()">Calcular Distancia</button>
                            </div>

                            </div>
                            <span id="formError"></span>
        
                            <br>
                            <br>
                            <h4 for="distancia">Distancia</h4>
                            <input id="distanceT" class="form-control" type="button" [value]="newCategory.km" value={{distance[0]}}>
        
                            <button type="submit" id="subm" class="btn btn-primary  text-center">
                                Guardar Categoria
                            </button>
        
        
                        </form>
        
        
        
                        <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

                        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                        <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
                          
                    </div>
                </div>
            </div>
            

         </div>


    </div>



    <div class="pr-1">
        
        <div class=" container col-sm-12">
    
            <div class="">
                <div class="row" *ngFor="let value of newEvent.categories; let i = index">
                    <div class="col-sm-12">
                        <div class="card border-info col-sm-12  mt-2" >
                           
                            <div class="card-header h5">{{value.nameCategory}}
                             
                             
                                <i (click)="updateCategory(i)" class="fas fa-edit fa-lg text-info mr-4 float-right fa-2x" ></i>
                                <i (click)="deleteCategory(i)" class="far fa-trash-alt fa-lg text-danger mr-4 float-right fa-2x" ></i>
                          
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Rango de Edades: {{value.ageMin}} - {{value.ageMax}}</h5>
                                <p class="card-text">Km a recorrer: {{value.km}} Km</p>
                                <p class="card-text">Premios: {{value.prize}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

</div>
</div>