
<div class="contP col-sm-12 pt-5 pl-4 pb-5">
    <div class="card mr-3 pb-5">



        <div class="card-header">
            <div class="row">
                <span class="title col-sm-9"><h3>{{event.nameEvent}}</h3></span>       
                <div class="btn-group float-right col-sm-3" role="group">
                    <button type = "button" routerLink="/landing" class="btn btn-info mt-2 mb-2">Regresar</button>
                </div>
            </div>
        </div>

        <h3 class="text-center mt-2">
            Participantes:
        </h3>

         <!-- tabla de participantes  -->

        <div class="row container col-sm-12 ml-2" style="background-color: transparent;">
          
            <div class="col-sm-12 mt-2" >
        
                <div class="card border-info">
                    <div class="card-body">
                     <div class="row col-sm-10">
                        <span class="h5">
                            Categorias Disponibles : 
                        </span>
                        <div class="col-sm-4">
                          <select class="form-control" aria-label=".form-select-lg example" name="id" [(ngModel)]="newCate.id">
                            <option class = "" value ="">Seleccione una categoria</option>
                            <option class = "" value="{{item.id}}" *ngFor="let item of event.categories; let i = index">{{item.nameCategory}}</option> 
                           </select> 
                        </div>
                        <button (click)="getUserCompetition()" class="btn btn-info col-sm-2">Observar</button>
                     </div>

                        <br>
                   
                        <table class="table table-striped mt-2" >
                            <thead class="thead-dark" >
                                <tr>
                                    <th>#</th>
                                    <th >Identidad</th>
                                    <th >Nombre</th>
                                    <th >Hora Inicio</th>
                                    <th >Hora Finalizo</th>
                                    <th >Tiempo Total</th>
                                    <th >Estado</th>
                                    <th ></th>

                                </tr>
                            </thead>
                                
                            
                            <tbody *ngFor="let item of compeFi">
                                <tr >
                                    <td>{{item.n}}</td>
                                    <td>{{item.identity}}</td>
                                    <td>{{item.firstName}} {{item.lastName}}</td>
                                    <td>{{item.timeStart | date: 'HH:mm:ss'}}</td>
                                    <td>{{item.timeEnd | date: 'HH:mm:ss'}}</td>
                                    <td>{{item.timeTotal}}</td>
                                    <td>{{item.state}}</td>
                                    <td>
                                        <i class="fas fa-trophy fa-lg float-left fa-2x"  style="color:rgb(255, 188, 5);" *ngIf="item.n === 1"></i>
                                        <i class="fas fa-trophy fa-lg  float-left fa-2x" style="color: rgb(182, 169, 169)"  *ngIf="(item.n === 2) && ((newCate.prize === 'Primeros dos lugares') || (newCate.prize === 'Primeros tres lugares'))"></i>
                                        <i class="fas fa-trophy fa-lg float-left fa-2x"  style="color: rgb(192, 117, 19);" *ngIf="(item.n === 3) && (newCate.prize === 'Primeros tres lugares')"></i>
                                    </td>
                                </tr>
                            </tbody>
                            

                        </table>       
            
                    </div>
                </div>
            </div>
            
        </div>
 
     </div>

</div>