<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>category Template</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./category.component.css">
</head>
<body >
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container ">
      <div class="card category-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="../../../assets/mujer_corriendo.jpg" class="category-card-img">
          </div>
          <div class="col-md-7 fade-in-down">
            <div class="card-body">
              <p class="category-card-description">Crear Una Nuevo Evento</p>
              <form>
                   
                  <div class="form-group">
                    <span>Nombre del Evento</span>
                    <input class="form-control" 
                           placeholder="Nombre del evento"
                          >
                  </div>
                  
                  <div class="form-group">
                    <span>Ciudad donde se llevara acabo</span>
                    <input class="form-control" 
                           placeholder="Escoja una ciudad"
                          >
                  </div>
                  <div class="form-group">
                    <span>Fecha del Evento</span>
                    <input class="form-control" 
                           placeholder="Fecha enque se llevara acabo"
                          >
                  </div>
                  <div class="form-group">
                    <span>Categorias</span>
                    <input class="form-control nav-link" 
                           href="#footer" data-toggle="modal" 
                           data-target="#exampleModal" 
                           data-whatever="@mdo"
                           placeholder="Seleccione o cree una categoria"
                          >
                  </div>

                  <div class="form-group">
                    <span>Patrocinadores</span>
                    <input class="form-control" 
                           placeholder="Seleccione los Patrocinadores"
                          >
                  </div>
                   <button class="btn btn-block category-btn mb-4" value="Crear Evento">Crear Evento</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </main>
</body>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Establesca una Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-class">

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre de la categoria">
            </div>

            <div class="form-group">
                <label for="edad minima">Edad minima</label>
                <input type="number" class="form-control" placeholder="Edad minima para competir">
            </div>
    
            <div class="form-group">
                <label for="edad maxima">Edad maxima</label>
                <input type="number" class="form-control" placeholder="Edad maxima para competir">
            </div>

            <div class="form-group">
                <label for="premio">Premios</label>
                <input type="number" class="form-control" placeholder="Premios para los ganadores">
            </div>

            <div class="form-group">
              <label for="ruta">Ruta</label>
              <input type="" class="form-control" placeholder="Ruta en la que se llevara acabo">
            </div>
          <span class="space"></span>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary  text-center ">Crear</button>
        </form>
    </div>
  </div>
</div>

