/* estilos personalizados  */

body { 
    font-size: 1.2rem;
}

/* color de navbar */
.fondo-nav{
    background:#fff !important;
    box-shadow: 3px 3px 7px rgb(189, 183, 183);
    
}

#inicio{
  
    background: url("../../../assets/aver.jpg");
    background-repeat: no-repeat;
    background-size:cover; 
}
.socialNetwork{
    margin-left: 100px;
}
.btnLogin{
    background: #fa5e50;
    border-color: #fa5e50;

}
.active {
    color: rgb(255 0 0) !important;
    font-size: 17px !important;
}

.btnLogin:hover{
    background: #ffffff;
    color: #fa5e50;
    border-color: #fa5e50;
}
.btnLogin:active{
    background: #ffffff;
    color: #fa5e50;
    border-color: #fa5e50;
}
.jumbotron{
    width: 100%;
    height: 700px;
    /* aplicando transparencia  */
    background:rgba(0,0,0,0.1);
    color:#023d46 ;
    padding-top:50px;
}

#llamado-atencion{
    background: #fa5e50;
}

#footer{
    background:#fa5e50 ;
}

a { 
    color: #ffffff; 
} /* CSS link color */             