/* estilos personalizados  */

body { 
    font-size: 1.2rem;
}

/* color de navbar */
.fondo-nav{
    background:#fff !important;
    box-shadow: 3px 3px 7px rgb(189, 183, 183);
    
}

#inicio{
  
    background: url("../../../assets/aver.jpg");
    background-repeat: no-repeat;
    background-size:cover; 
}
.socialNetwork{
    margin-left: 100px;
}
.btnLogin{
    background: #fa5e50;
    border-color: #fa5e50;

}
.active {
    color: rgb(255 0 0) !important;
    font-size: 17px !important;
}

.btnLogin:hover{
    background: #ffffff;
    color: #fa5e50;
    border-color: #fa5e50;
}
.btnLogin:active{
    background: #ffffff;
    color: #fa5e50;
    border-color: #fa5e50;
}
.jumbotron{
    width: 100%;
    height: 700px;
    /* aplicando transparencia  */
    background:rgba(0,0,0,0.1);
    color:#023d46 ;
    padding-top:50px;
}

#llamado-atencion{
    background: #fa5e50;
}

#footer{
    background:#fa5e50 ;
}

a { 
    color: #ffffff; 
} /* CSS link color */             

.modal{
    margin-top: 100px;
}

.modal section .container{
    position: relative;
    min-width: 1100px;
    min-height: 600px;
    display: flex;
    z-index: 1000;
}

.modal section .container .contactinfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #fa5e50;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    z-index: 1;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.modal section .container .contactinfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.modal section .container .contactinfo .info{
    position: relative;
    margin: 20px 0;
}
.modal section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0 ;
    cursor: pointer;
    align-items: flex-start;
    color: white;
}
.modal section .container .contactinfo .info li{
    max-width: 100%;
    opacity: 0.5;
    
}
.icon{
    font-size: 34px;
    margin-right: 10px;
}
.modal section .container .contactinfo .info li:hover{
    opacity: 1;
    color: white;
}

.modal section .container .contactinfo .sci {
    position: relative;
    display: flex;

}

.modal section .container .contactinfo .sci  li{
    list-style: none;
    margin-right: 15px;
    

}

.modal section .container .contactinfo .sci  li a{
    text-decoration: none;
    color: white ;
    opacity: 0.5;

}
.modal section .container .contactinfo .sci  li a:hover{
    opacity: 1;

}

.modal section .container .contactForm {
    position: absolute;
    padding: 70px 50px;
    background: white;
    margin-left: 150px;
    padding-left: 300px;
    width: calc(100%-150px);
    height: 100%;
    box-shadow: 0px 50px 50px rgba((0), 0, 0, 0.5);
}

.modal section .container .contactForm h2{
    color: #fa5e50;
    font-size: 24px;
    font-weight: 500;
}

.modal section .container .contactForm .formBox{
position: relative;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding-top: 30PX;
}

.modal section .container .contactForm .formBox .inputBox {
    position: relative;
    margin: 0 0 35px 0;
}

.modal section .container .contactForm .formBox .w50{
    width: 47%;
}
.modal section .container .contactForm .formBox .w100{
    width: 100%;
}

.modal section .container .contactForm .formBox .inputBox input,
.modal section .container .contactForm .formBox .inputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.modal section .container .contactForm .formBox .inputBox textarea{
    min-height: 120px;
}

.modal section .container .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;  
    font-weight: 300;  
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}

.modal section .container .contactForm .formBox .inputBox input:focus ~ span,
.modal section .container .contactForm .formBox .inputBox textarea:focus ~ span,
.modal section .container .contactForm .formBox .inputBox input:valid ~ span,
.modal section .container .contactForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;

}

.modal section .container .contactForm .formBox .inputBox input[type= "submit"]{
    position: relative;
    cursor: pointer;
    background: #fa5e50;
    color: #fff;
    border: none;
    padding: 12px;

}

.modal section .container .contactForm .formBox .inputBox input[type= "submit"]:hover{

    border: 1px solid #fa5e50 ;
    color: #fa5e50;
    transition: 0.2s;
    background: #fff;
}
