<div class="card mt-5 ml-5 mr-5 mb-5">
    <div class="card-header">
        detalles
    </div>
    <div class="card-body">
        <ul class="card-list list-group-flush">
            <li class="list-group-item">
                name: <h5>{{event.nameEvent}}</h5>
            </li>
            <li class="list-group-item">
                date: <h5>{{event.startTime}}</h5>
            </li>
            <li class="list-group-item">
                city: <h5>{{event.city}}</h5>
            </li>
            <li class="list-group-item">
                patrocinan: <h5>{{event.patrocinator}}</h5>
            </li>
        </ul>
    </div>
    <div class="btn-group" role="group">
        <button (click) = "onGoToEdit()" type = "button" class="btn btn-outline-warning mt-1 btn-sm">edit</button>
        <button (click) = "onDeleted()" routerLink="/home/mostrarEventos" type = "button" class="btn btn-outline-danger mt-1 btn-sm">delete</button>
    </div>
    <button (click) = "onGoBack()" type = "button" class="btn btn-secondary mt-2 mb-2">Go Back to list</button>
</div>
