.example-container {
    display:flex;
    flex-direction: column;
    position: absolute;
    font-family: "Karla", sans-serif;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .example-is-mobile .example-toolbar{
    position: fixed;
    z-index: 2; 
  }

  .example-toolbar{
    z-index: 2;
    box-shadow: 3px 3px 7px rgb(183, 186, 189);
  }

  a{
    color: rgba(165, 154, 154, 0.733);
  }

  a:hover{
    color: hsla(0, 2%, 46%, 0.856);
  }

  .icono{
    color:  #b2cefa;
    margin-right: 10px;
  }
  
  .sidenaba{
    font-size: 15px;
    color: rgba(238, 231, 231, 0.877);
  }
  
  .imagen-usuario{
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    margin:10px;
    pointer-events: painted;
    background-image: url("../../../assets/perfil.jpg");
  }

  .example-sidenav-container {
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }
  
  mat-sidenav{
    width: 215PX;
    background-color: rgb(228, 108, 108);
    padding-top: 15px;
  }
  
