
  a{
    color: rgba(165, 154, 154, 0.733);
  }

  a:hover{
    color: hsla(0, 2%, 46%, 0.856);
  }

  .icono{
    color:  #b2cefa;
    margin-right: 10px;
  }
  
  .sidenaba{
    font-size: 15px;
    color: rgba(238, 231, 231, 0.877);
  }
  
  .imagen-usuario{
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    margin:0 0px 0 69px;
    pointer-events: painted;
    background-image: url("../../../assets/perfil.jpg");
  }

  .example-sidenav-container {
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }
  
  mat-sidenav{
    width: 215PX;
    background-color: rgb(228, 108, 108);
    padding-top: 15px;
  }
  
  body { 
    font-size: 1.2rem;
}

/* color de navbar */
.fondo-nav{
    background:rgb(243, 242, 242) !important;
    box-shadow: 3px 3px 7px rgb(189, 183, 183);
    box-shadow: 3px 3px 7px rgb(183, 186, 189);
    font-size: 15px;
    color: rgba(20, 17, 17, 0.877);  
    padding-block-end: 8px;
}

.navbar-val{
  font-size: 17px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: .8rem;
      padding-left: .8rem;
  }
}

