
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fondo-nav sticky-top" id="menu-navegacion">
       
            <a href="#inicio" class="navbar-bran">
                <img src="../../assets/logito.png" alt="" class="img-fluid">
            </a>
            <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-val mr-auto ml-auto">

                    <ul class="navbar-nav ml-auto "> 

                        <li class="nav-item">
                            <a href="#descripcion" class="nav-link">¿Quines Somos?</a>
                        </li>
    
                        
                        <li class="nav-item">
                            <a href="#servicios" class="nav-link">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a href="#aplicacion" class="nav-link">Aplicacion</a>
                        </li>
                        
                        <li class="nav-item" >
                            <a  routerLink="link" class="nav-link">Resultados</a>
                            
       
                        </li>
                        <li class="nav-item">
                            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Contactanos</button>
                             --> <a href="#footer"  class="nav-link" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Contactanos</a>
                        </li>  
                 
              </ul>
            </div>
       
            <div>
                <ul class="nav-item" >
                         
                    <a>
                        <button class="btn btn-success" routerLink='login' type="submit">Iniciar Sesión</button>
                    </a> 
                </ul>
            </div>

                <!--  <li class="nav-item">             <
                     <button class="btn btn-success" type="submit">Iniciar Sesión</button>
                 </li>  -->
<!-- 
                 <ul routerLink="link">

                    <a  class="btn btn-success">Iniciar Sesión </a>

                 </ul> -->
              
                
                
        </div> 
  
    </nav>

    <!-- imagen de cabecera usuar jumbotrin -->


 <!--Imagen de cabecera - usar jumbotron-->
  <section id="inicio" class="text-center">
    <div class="jumbotron pb-5">
        <h1><strong>RunXatruch</strong></h1>
        
    </div>
</section>

    <!--Nueva seccion DESCRIPCION DE LO QUE HACEMOS -->

    <section id="descripcion">
        <div class="container">
            <div class="row">
            
                <div class="col-sm-12 col-md-6 text-center">
                    <h2 class="mt-5">RunXatruch plataforma encargada 
                        de organizar tus actividades deportivas
                    </h2>  
                    <p class="mt-5">RunXatruch surge en el  2020 como  enlace entre el  deporte
                        y el mercadeo. Enfocandonos  en  proveer a las organizadores de eventos 
                        deportivos una serie de herramientas para organizar de mejor manera las 
                        competencias deportivas 
                    </p>
                    <button class="btn btn-outline-danger btn-lg text-center">Mas Informacion</button>
                
                </div>

                <div class="col-sm-12 col-md-6">
                    <img class=" img-fluid" src="../../assets/mujer_corriendo.jpg" alt="">
                </div>
            </div>
        </div>
    </section>


    <!-- seccion   -->

    <section id="llamado-atencion">
        <div class="container">
            <div class="row mt-5">
                <div class="col-sm-12 col-ms-12 text-center text-white">
                    <h1 class="mt-5">Impulsa tus Competiciones Deportivas</h1>
                    <p>Puedes alcanzar a mas personas con nosotros</p>
                    <button class="btn btn-light btn-lg text-center mb-5">Mas Informacion</button>
                </div>

            </div>
        </div>
    </section>

 <!--Servicios-->
 <section id="servicios">
    <div class="container">
        <h1 class="text-center mt-5">Nuestros Servicios</h1>
  
      <div class="row mt-5">
          <div class="col-sm-12 col-md-4 text-center">
              <h2 class="mt-5"><i class="fas fa-running"></i><br>Competencia</h2>
              <p class="mt-5">Damos soporte a competiciones deportivas </p>
              <br>
              <button class="btn btn-danger text-center mb-5">
                  Ver más <i class="fas fa-arrow-circle-right"></i>
              </button>
          </div>

          <div class="col-sm-12 col-md-4 text-center">
            <h2 class="mt-5"><i class="fas fa-poll"></i><br>Estadisticas</h2>
              <p class="mt-5">Proporcionar resultados confiables y precisos ,sobre las estadisticas 
                de los eventos deportivos</p>
              <br>
              <button class="btn btn-danger text-center mb-5">
                  Ver más <i class="fas fa-arrow-circle-right"></i>
              </button>
          </div>

          <div class="col-sm-12 col-md-4 text-center">
            <h2 class="mt-5"><i class="fas fa-bullhorn"></i><br> Marketing</h2>
              <p class="mt-5">RunXatruch  le brindarán a su evento mayor reconocimiento y exposición hacia nuevas marcas</p>
              <br>
              <button class="btn btn-danger text-center mb-5">
                  Ver más <i class="fas fa-arrow-circle-right"></i>
              </button>
          </div>
      </div>
  </div>
</section>


<!-- aplicacion  -->

<section id="aplicacion">


    <div class="container"> 
        <div class="col-sm-12 col-ms-12 text-center ">
         <h1 class="text-center mt-5"> Nustra Aplicacion Movil</h1>
         <br>
         </div>
     </div>
     
    <div class="container">
        <div class="row">
        
            
            <div class="col-sm-12 col-md-4">
                <img class=" img-fluid" src="../../assets/celular.png" alt="">
            </div>

            <div class="col-sm-12 col-md-2">
                
            </div>

            <div class="col-sm-12 col-md-6">
               
                <img class=" img-fluid" src="../../assets/logito.png" alt="">
                <h2><b>RunXatruch</b></h2>
                
                <h5>REGISTRA TUS ACTIVIDADES DEPORTIVAS</h5>
                <h5> PROGRESA y TRUNFA</h5>
                <br>
                <h6>Registra tu entrenamientos y analiza las estadisticas 
                unete a competiciones y saca al atleta que llevas dentro, desafiando tus limites.
                 ¿Te animas? Descarga la app RunXatruch y ponte en forma con nosotros    
            </h6>
              
              
                <div  class="text-center" >
                    <br>
                    <a href="https://play.google.com/store" text-white> <img class=" img-fluid " src="../../assets/google-play.png" alt=""></a>
                </div>
                   
               
            
                <div class="col-sm-12 col-md-1">
                
                </div>
                
            </div>
        </div>
    </div>
</section>

<br>



<!-- pied de pagina -->

  <!--Footer-->
  <footer>
    <section id="footer">
        <div class="container">
            <div class="row mt-5">
               
                <div class="col-sm-12 col-md-4 tex-center text-black">
                    <h3 class="mt-5">Contáctanos</h3>

                    <h4 class="mt-3">Direccion:</h4>

                    <h6><i class="fas fa-map-marker-alt"></i>
                        Universidad Nacional Autonoma de Honduras, 
                        Facultad De Ingenieria, Carrera ing.en sistemas 
                        Edificio B2.
               
                    <h4 class="mt-3">Llamanos:</h4>
                     <i class="fas fa-phone"></i>
                      +504 9997-3454


                      <h4 class="mt-3">Correo:</h4>
                      <i class="fas fa-envelope" _mstvisible="2"></i>
                      runxatruch@gmail.com
                    </h6>
                </div>
               
               
                <div class="col-sm-12 col-md-4 tex-center  text-black">
                    <h3 class="text-center mt-5">Redes Sociales</h3>


                    <div class="row mt-5  ">
                        <div class="col-sm-12 col-md-4">
                            <a href="https://www.facebook.com/" text-white>  <i class="fab fa-facebook-f fa-3x"></i></a>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <a href="https://twitter.com/home?lang=es">  <i class="fab fa-twitter fa-3x"></i></a>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-3x" ></i></a>
                        </div>
                    </div>
                    
                    
                </div>

             

                  <div class="col-sm-12 col-md-4 tex-center text-black">
                      <h3 class=" mt-5">Suscríbete</h3>
                      <form>
                          <div class="form-group">
                              <label for="nombre">Nombre</label>
                              <input type="text" class="form-control" placeholder="Ingresa tu nombre">
                          </div>

                          <div class="form-group  ">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" placeholder="Ingresa tu email">
                          </div>
                          <button type="submit" class="btn btn-primary  text-center ">Suscríbete</button>
                      </form>
                  </div>
            </div>
        </div>
    </section>
</footer>



<!-- modal  de contacto -->



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingrese los datos porfavor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

            <div class="form-group">
                <label for="organizacion">Organizacion:</label>
                <input type="text" class="form-control" placeholder="Nombre de la organizacion">
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" placeholder="Ingresa tu nombre">
            </div>
    
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Ingresa tu email">
            </div>
            <div class="form-group">
                <label for="telefono">Telefono:</label>
                <input type="number" class="form-control" placeholder="Ingrese su numero">
              </div>

              
          <div class="form-group">
            <label for="mensaje">Mensaje:</label>
            <textarea class="form-control"></textarea>
          </div>

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            <button type="submit" class="btn btn-primary  text-center ">Enviar</button>
        </form>
    </div>
  </div>
</div>

